$main-background-color: #ebeef3;
$white-background-color: #ffffff;
$success-color: #52c41a;
$info-color: #1890ff;
$heading-color: rgba(0, 0, 0, 0.85);
$text-color: rgba(0, 0, 0, 0.75);
$text-color-secondary: rgba(0, 0, 0, 0.5);
$text-color-form: #262626;
$text-color-input: #bfbfbf;
$danger-color: #f5222d;
